html
  head
    title='All Images'
  body
    a(href='/') home
    h1= 'All Images'
    ul
      each image in images.sort((a,b) => b.created - a.created)
        li: a(href= image.url)= `${image.title} - ${image.created.toLocaleString()}`
