html
  head
    title='All Images'
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles.css">

  body
    div.container
      <div class="header">
        <h1 class="display-1">ImgBox FX</h1>
      </div>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Back to Home</a>
        </li>
      </ul>
      h1= 'Links to All Transformed Images'
      ul.list-group
        each image in images.sort((a,b) => b.created - a.created)
          a.list-group-item.list-group-item-action(href= image.url)= `${image.title} - ${image.created.toUTCString()}`
